:root {
  --el-color-primary: #2563eb;
  --el-color-primary-light-3: #60a5fa;
  --el-color-primary-light-5: #93c5fd;
  --el-color-primary-dark-2: #1d4ed8;
  --el-border-radius-base: 8px;
  --el-font-size-base: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
}
